<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="storage" class="com.mycompany.hw_l01_spring_introduction.dao.StorageImpl">
        <constructor-arg name="questionsPath" value="/questions.csv"/>
        <constructor-arg name="optionsPath" value="/options.csv"/>
        <constructor-arg name="answersPath" value="/answers.csv"/>
    </bean>

    <bean id="personService" class="ru.otus.spring.service.PersonServiceImpl">
        <property name="dao" ref="personDao"/>
    </bean>

</beans>