<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="storage" class="com.mycompany.hw_l01_spring_introduction.dao.StorageImpl">
        <constructor-arg name="questionsPath" value="/questions.csv"/>
        <constructor-arg name="optionsPath" value="/options.csv"/>
        <constructor-arg name="answersPath" value="/correctAnswers.csv"/>
    </bean>

    <bean id="printService" class="com.mycompany.hw_l01_spring_introduction.service.ConsolePrintService">
    </bean>

    <bean id="readService" class="com.mycompany.hw_l01_spring_introduction.service.ConsoleReadService">
    </bean>

    <bean id="resultAnalyzer" class="com.mycompany.hw_l01_spring_introduction.service.ResultAnalyzerServiceImpl">
        <constructor-arg name="storage" ref="storage"/>
    </bean>

    <bean id="userDataService" class="com.mycompany.hw_l01_spring_introduction.service.UserDataServiceImpl">
        <constructor-arg name="printService" ref="printService"/>
        <constructor-arg name="readService" ref="readService"/>
    </bean>

    <bean id="testingApp" class="com.mycompany.hw_l01_spring_introduction.TestingApp">
        <constructor-arg name="userDataService" ref="userDataService"/>
        <constructor-arg name="storage" ref="storage"/>
        <constructor-arg name="printService" ref="printService"/>
        <constructor-arg name="readService" ref="readService"/>
        <constructor-arg name="resultAnalyzer" ref="resultAnalyzer"/>
    </bean>

</beans>