body {
    font-style: normal;
    font-variant: normal;
    font-size: 15px;
    background-color: #fafafa;
}

.dataField {
    width: 250px;
    border-bottom: solid 1px #cccccc;
    border-radius: 3px;
    text-align: center;
}