<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All authors</title>
    <style type="text/css">
    </style>
</head>
<body>
<h1>Authors:</h1>
<table class="authors">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">1</td>
        <td th:text="${author.name}">John</td>
        <td th:text="${author.surname}">Doe</td>
    </tr>
    </tbody>
</table>
</body>
</html>