<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All books</title>
    <link th:href="@{/css/general.css}" rel="stylesheet">
    <link th:href="@{/css/books/bookList.css}" rel="stylesheet">
</head>
<body>
<h2>Books:</h2>
<table id="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td class="dataField" th:text="${book.id}">1</td>
        <td class="dataField" th:text="${book.title}">Some title</td>
        <td class="dataField" th:text="${book.author.name + ' ' + book.author.surname}">John Doe</td>
        <td class="dataField" th:text="${book.genre.name}">Computers</td>
        <td><a id="edit" th:href="@{'/book/' + ${book.id}}" href="viewBook.html">Edit</a></td>
    </tr>
    </tbody>
</table>
<div id="actionButtons">
    <button class="buttons" type="submit" href="addBook.html">Add</button>
</div>
</body>
</html>