<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>View book</title>
    <link th:href="@{/css/general.css}" rel="stylesheet">
    <link th:href="@{/css/bookInfo.css}" rel="stylesheet">
</head>
<body>
<h2>Book Info</h2>
<div th:if="${message != ''}">
    <div th:replace="~{/fragments/message :: message}"></div>
</div>
<div th:if="${book != null}">
    <div th:replace="~{/fragments/bookInfo :: bookInfo}"></div>
</div>
</body>
</html>