<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="bookInfo" id="bookInfo">
    <table th:object="${book}">
        <tr>
            <th>ID</th>
            <td th:text="*{id}">1</td>
        </tr>
        <tr>
            <th>Title</th>
            <td th:text="*{title}">Some book</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>
                <a th:href="@{'/author/' + *{author.id}}" href="../authors/viewAuthor.html"
                   th:text="*{author.name + ' ' + author.surname}">John Doe</a>
            </td>
        </tr>
        <tr>
            <th>Genre</th>
            <td th:text="*{genre.name}">Computers</td>
        </tr>
    </table>

    <div id="actionButtons">
        <button th:with="${text=isEditable} ? 'Save' : 'Edit'" type="submit"
                th:text="${text}"
                th:href="@{'/' + ${book.id} + '?editable=true'}"
                href="viewBook.html">Edit
        </button>
        <button type="submit" >Edit</button>
    </div>
</div>
</body>
</html>